body {
     background-color:cyan;
}
h1 {
     font-family:arial;
     text-align:center;
}
div {
	border-radius:10px;
	border:2px solid black;
}
img {
	display:block;
	margin:auto;
	max-width:100%;
}
#bodydiv p {
	padding:10px;
	text-indent:50px;
	font-size:1.2em;
}
#headerdiv {
     background-color:salmon;
	 width:80%;
	 margin:auto;
}
#bodydiv {
     background-color:orange;
	 width:80%;
	 margin:auto;
}
#footerdiv {
     background-color:#4dff52;
	 text-align:center;
	 font-weight:bold;
	 font-family:arial;
	 width:80%;
	 margin:auto;
}